<div class="jumbotron">
    <div class="container">
        <ul class="nav nav-tabs nav-justified">
            <li class="nav active"><a href="#/listofreservations" data-toggle="tab"><i class="fa fa-list"></i> List of
                Reservations</a></li>
            <li class="nav"><a href="#/viewseatingarea" data-toggle="tab"><i class="fa fa-info-circle"></i> View Seating
                Area</a></li>
            <li class="nav"><a href="#/adminreservation" data-toggle="tab"><i class="fa fa-calendar-check-o"></i> Make a
                Reservation</a></li>
            <li class="nav"><a href="#/admineditreservation" data-toggle="tab"><i class="fa fa-pencil"></i> Edit a
                Reservation</a></li>
            <li class="nav"><a href="#/profile" data-toggle="tab"><i class="fa fa-cog"></i> Profile & Settings</a></li>
        </ul>
    </div>
</div>
