<div ng-include="'app/views/header.tmpl.html'"></div>
<div class="container">
    <div class="jumbotron">
        <h1 align="center">Welcome to MY RESTAURANT</h1>
        <br>

        <p>The Fire Fountain Grille is a comfortable, inviting restaurant designed to make our customers feel as if they
            are enjoying VIP services in a world all to themselves. The decor and theme is centered around the custom
            made "Fire Fountain", a unique show kitchen grill that has a cascading water fountain combined with flame
            throwing torches on the dining room side, and is a sizzling 48" gas powered steak grill on the kitchen side.
            The energy and atmosphere of the restaurant is high, and draws some of its power from the dazzling "Fire
            Fountain".
        </p>

        <p>
            The real power and energy of the restaurant comes from the attentive and courteous service provided by our
            floor staff, and the indescribably delicious steaks and other entrees caringly prepared by our motivated
            kitchen team. Each night that we are open, two managers are on duty. One manager carefully orchestrates the
            proper execution of the kitchen, so that all food comes out prepared perfectly, and on time. The other
            manager attends to the flow of the dining room, there to facilitate outstanding customer service and
            satisfaction. Our floor managers are extremely high profile, taking the time to greet every customer at some
            point in their stay. Our customer service policy is simple: All customers must leave happy about our service
            and food!
        </p>

        <p>
            The restaurant hours are: Monday-Thursday 3:00 pm-10:00 pm; Friday and Saturday 11:00 am-1:00 am; Sunday
            11:00 am-9:00 pm.
        </p>
    </div>
</div>